.logo-container {
  height: 100%;
  margin: auto 0 auto 51%;
  overflow: hidden;
  position: relative;
  width: 51%;
  z-index: 0;

  .solid-logo {
    height: 30vh;
    position: absolute;
    width: auto;
    transition: filter 0.3s ease;
    transform: rotate(15deg);
  }
}
