.home-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;
  }

  h1 {
    color: #fff;
    font-size: 56px;
    line-height: 53px;
    margin: 0;
    font-family: "Coolvetica";
    font-weight: 400;

    &::before {
      content: "<h1>";
      font-family: "La Belle Aurore", cursive;
      color: #99ffff;
      font-size: 18px;
      position: absolute;
      margin-top: -40px;
      left: -15px;
      opacity: 0.6;
    }

    &::after {
      content: "</h1>";
      font-family: "La Belle Aurore", cursive;
      color: #99ffff;
      font-size: 18px;
      position: absolute;
      margin-top: 18px;
      margin-left: 8px;
      animation: fadeIn 1s 1.7s backwards;
      opacity: 0.6;
    }

    img {
      width: 32px;
      margin-left: 20px;
      opacity: 0;
      height: auto;
      animation: rotateIn 1s linear both;
      animation-delay: 1.4s;
    }
  }

  h2 {
    color: #ffffff;
    margin-top: 20px;
    font-weight: 400;
    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    letter-spacing: 3px;
    animation: fadeIn 1s 1.8s backwards;
  }

  .flat-button {
    color: #99ffff;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 4px;
    font-family: "Open Sans", sans-serif;
    text-decoration: none;
    padding: 10px 18px;
    border: 1px solid #99ffff;
    margin-top: 25px;
    float: left;
    animation: fadeInAnimation 1s 1.8s backwards;
    white-space: nowrap;

    &:hover {
      background: #99ffff;
      color: #333;
    }
  }
}

@media screen and (max-width: 1024px) {
  .home-page .text-zone,
  .text-page .text-zone {
    width: 80%;
    min-height: 0;
  }

  h1 {
    font-size: 54px !important;
    line-height: 45px !important;
  }

  .logo-container {
    width: 240px;
    height: 300px;
    margin-left: 230px;
    z-index: -1;
  }
}

@media screen and (max-width: 960px) {
  .home-page h1:before {
    left: 13px;
  }

  .text-zone {
    position: static !important;
    max-height: auto;
    min-height: 350px;
    float: left;
    margin-left: 10%;
    transform: none !important;
    margin-top: 170px;
  }

  .home-page .flat-button {
    display: none;
  }

  .logo-container {
    right: 0;
    left: 0;
    opacity: 0.5;
  }

  .logo-container svg {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
  }
}

@media screen and (max-width: 750px) {
  h1 {
    font-size: 47px !important;
    line-height: 40px !important;
  }

  .logo-container {
    right: 0;
    left: 0;
    opacity: 0.5;
  }
}
